@model IEnumerable<FastFoodKing.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GraphIdE8413eacd7b54be39f6b78209d3a85d7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NodeIdE250659f8d484cfd97ada3b7fee6c4c3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GraphIdE8413eacd7b54be39f6b78209d3a85d7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NodeIdE250659f8d484cfd97ada3b7fee6c4c3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
